ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    
}

li {
    float:left
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

p {
    font-family: "Lucida Sans Unicode"
}
h2, h1 {
    font-family: "Impact"
}
body {background-color: #0094ff;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    
}
